@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", serif;
  font-weight: 400;
}

/* ant design modal footer top margin remove */
.ant-modal-footer {
  margin-top: 0 !important;
}
/* 
:root {
  --primary-color: #5b2579;
  --secondary-color: #f6e7ff;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  background-color: var(--secondary-color) !important;
} */

/* ant design menu option */
.ant-menu-light .ant-menu-item {
  color: white !important;
}
.ant-menu-light .ant-menu-submenu-title {
  color: white !important;
}
.ant-menu-item:hover {
  background: #3b3e3f !important;
}

.ant-menu-item-selected {
  background: #3b3e3f !important;
  border-radius: 0 60px 60px 0 !important;
  color: white !important;
  width: "100%" !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon + span {
  transition: none !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white !important;
}

.ant-menu .ant-menu-title-content {
  transition: none !important;
}

.ant-badge .ant-badge-count {
  background: #3b3e3f !important;
  color: white !important;
  border: 1px solid #3b3e3f !important;
}

.ant-btn:hover,
.ant-btn:focus {
  background-color: #3b3e3f !important;
  border-color: white !important;
  color: white !important;
  box-shadow: none !important;
}

.jodit-workplace {
  height: 550px !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #8b0000;  */
  background: #ffffff67;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3e3f;
}

/* pagination style */
.ant-pagination-item-active a {
  color: white !important;
  background-color: #3b3e3f !important;
}

.ant-switch-checked {
  background-color: #3b3e3f !important;
}
